
var picListener;

Y.all('.pic-beacon').each(function(node){
	var width = parseInt( node.getAttribute('data-width'))
		,height = parseInt( node.getAttribute('data-height'));
	node.setStyle('width', width/2);
	node.setStyle('height', height/2);
	node.setAttribute('data-src', 'http://placekitten.com/g/' + width + '/' + height);
});

var picListener = new Y.BeaconListener({
	beacons: '.pic-beacon',
	fullyInside: true,
	pollInterval: 250,
	autoStart:true
});

picListener.on('beaconlistener:found', function(e){
	var toWidth = parseInt( e.beacon.getAttribute('data-width'))
		,toHeight = parseInt( e.beacon.getAttribute('data-height'));
	
	if (Y.Lang.isUndefined(e.beacon._beacon_processed)){
		e.beacon.setStyle('backgroundImage', 'url("' + e.beacon.getAttribute('data-src') + '")' );
		e.beacon._beacon_processed = true;
	}

	e.beacon.transition({
		width: toWidth + "px",
		height: toHeight + "px",
		duration: 1
	});
});

picListener.on('beaconlistener:lost', function(e){
	
	if (!Y.Lang.isUndefined(e.beacon._beacon_processed)){
		var toWidth = parseInt( e.beacon.getAttribute('data-width'))/2
			,toHeight = parseInt( e.beacon.getAttribute('data-height'))/2;
			
		e.beacon.transition({
			width: toWidth + "px",
			height: toHeight + "px",
			duration: 1
		});
	}
});
