<div class="pic-beacon" data-width="300" data-height="200">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p>

<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p>
<div class="pic-beacon" data-width="400" data-height="200">This is a beacon</div>
<p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p><p>
	Scroll down
</p>
<div class="pic-beacon" data-width="120" data-height="300">This is a beacon</div>
<p class="big-block">
	
</p><div class="beacon">This is a beacon</div>
<p class="big-block">
	
</p>
<div class="beacon">This is a beacon</div>
<p class="big-block">

</p>
<div class="beacon">This is a beacon</div>
<p class="big-block">

</p>